html {
    scroll-behavior: smooth;
}
.burger{
    width: 1.5rem;
    position: absolute;
    top: 1rem ;
    right: 1rem;
    display: none;
}
.burger div {
    width: 100%;
    background-color: orange;
    content: "";
    margin: 0.3rem 0rem;
    height: 0.2rem;
    border-radius: 10rem;
}

* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(./image/DreamShaper_v7_make_it_more_darker_and_smokes_1\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    padding: 1rem;
    background-color: #ff7109;
    margin-left: 3rem;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.navlink {
    margin: 1.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 0.9rem;
    border-radius: 10rem;
    background-color: rgba(37, 37, 37, 0.4);
}

.navlink a {
    text-decoration: none;
    color: white;
}

.navlink:hover {
    color: black;
    background-color: #ff7109;
    transition: 0.s;
    cursor: pointer;
}

.icons {
    display: flex;
    margin-right: 5rem;
}

.icon {
    margin: 1.5rem 0.8rem;
    padding: 0.5rem 0.9rem;
    border-radius: 10rem;
    background-color: rgba(37, 37, 37, 0.4);
}

.icon:hover {
    color: black;
    background-color: #ff7109;
    transition: 0.1s;
    cursor: pointer;
}

.middle-containt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.helmet-image {
    max-width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name h1 {
    color: white;
    font-size: 16rem;
    top: 16rem;
    position: relative;
}











/*second page*/
.aarko {
    width: 100%;
    height: 100vhs;
    background-image: url(./image/DreamShaper_v7_make_a_4_wheeler_bike_which_looks_like_a_photo_0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.aarko img {
    width: 100%;
    height: 100%;
}

.side-content {
    max-width: 100%;
    display: grid;
    grid-template-columns: 10% 50% 30%;
    max-height: 80%;
}

.side-links {
    margin: 7rem 0rem 0rem 1.3rem;
    max-height: 80%;
}

.sidelink a {
    text-decoration: none;
    color: black;

}

.sidelink a:hover {
    color: #ff7109;
}

.sidelink {
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    transform: rotate(180deg);
    font-size: 1.3rem;
    margin: 5rem 0.5rem;
    padding: 0rem 1rem;

}

.section-title {
    margin: 5rem 0rem;
    color: white;
    
}

.section-title h1 {
    font-size: 10rem;
    margin-bottom: 3rem;
}

.section-title h2 {
    font-size: 5.1vw;
}

.section-title p {
    font-size: 1.5rem;
    font: 700;
    color: #ff7109;
    margin-bottom: 2rem;
}

.right-content {
    display: grid;
    align-content: space-evenly;
    justify-content: end;
    max-height: 50%;
    margin: 0rem -3rem;
    margin-top: 10rem;
    

}

.right-navlink a {
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
    padding: 10rem 0rem;
}

.right-navlink a:hover {
    color: #ff7109;
}

.sun h2 {
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    transform: rotate(180deg);
}

.bottom-setion {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    color: white;

    background-color: rgba(33, 33, 33, 0.2);
    
}

.video {
    display: grid;
    grid-template-columns: auto 40%;
    align-items: center;
}

.video h3 {
    max-width: 10rem;
    padding: 0rem 1rem;
}

.bottom-setion .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-setion .about-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

video {
    max-width: 98%;
    height: auto;
}







/*page three*/
.page-three {
    background-image: url(./image/page3.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-three image {
    width: 100%;
    height: auto;
}

.three-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;

}

.aside-three {
    margin: 5rem 0rem;
    font-size: 1.5rem;
    padding: 10rem 0rem 0rem 2rem;

}

.aside-three h2 {
    color: #d2921c;
}

.types {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.types a {
    text-decoration: none;
    color: inherit;
    font-size: 1.3rem;
}

.types li {
    padding: 0.5rem;
    list-style: none;
    margin: 1rem 0rem;
}

.about-three {
    margin: 12rem 5rem;
    color: #d2921c;
    
}

.about-three h1 {
    font-size: 12rem;
}

.about-three p {
    font-size: 1.5rem;
    font: 700;
    color: white;
}

.types li a::after {
    width: 0;
    height: 0.2rem;
    background-color: #ff7109;
    display: flex;
    transition: 0.3s;
    content: '';
    border-radius: 10rem;
}

.types li a:hover:after {
    width: 100%;
}

.types a:hover {
    color: #ff7109;
}





/*page four*/
.four{
    background-image: url(./image/DreamShaper_v7_make_it_more_darker_and_smokes_1\ \(1\).jpg);
    width: 100%;
    height: 100vh;
    background-repeat:no-repeat;
    background-size: cover;
}
.content-four{
    color: white;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 60%;
    
}
.equipment-title{

    margin-top: 10rem;
    max-height: 25rem;

}
.equipment{
    font-size: 1.5rem;
    margin: 3rem 0rem 0rem 3rem;
}
.helmet-types {
    font-size: 1.5rem;
    margin: 3rem 0rem 0rem 3rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
.helmet-types h3{
    padding: 0.5rem 0rem;
}
.page{
    margin: 10rem 0rem;
    max-width: 25rem;

}
.page h1{
    font-size: 13rem;
    text-align: center;
    margin-bottom: 1rem;
}
.page h4{
    font-size: 1.7rem;
}
.helmet-group{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1rem;
    margin-top: 15rem;
    display: grid;
    grid-template-rows: 50% 50%;
    
}
.helmet{
    width: 80%;
    height: 15rem;
    border-radius: 1.5rem;
    background-color: rgba(37, 37, 37, 0.3); 
}
.helmet img{
    position: absolute;
    max-width: 28%;
    top: -3rem;
    z-index: 1;
}

.helmet h2{
    margin: 7rem 0rem 2rem 0.5rem;
}
.helmet p{
    color: #ff7109;
    padding: 0.2rem 0rem 0.5rem 0.5rem;
}
.helmet h3{
    margin-left: 0.5rem;
}









 @media only screen and (max-width: 475px) {
            .navbar {
                max-width: 100%;
            }
    
            .logo {
                max-width: 70%;
                padding: 0rem;
               
            }
            .burger{
                display: block;
                cursor: pointer;
            }
            .navlinks {
                display: none;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-right: 2rem;
            }
            .icons{
                display: none;
            }
    
            .name h1 {
                font-size: 4.5rem;
            }
    
            .helmet-image {
                margin-top: -1.5rem;
                max-width: 18%;
            }
    
    
    
    
            /* page two */

            .section-title h1 {
                font-size: 3rem;
                margin-top: 6.5rem;
                margin-left: 3rem;
            }

            .section-title p {
                margin-left: 3rem;
                margin-top: 5rem;
                margin-bottom: 4rem;
            }
            .sidelink{
                font-size: 1.2rem;
            }
            .video{
                display: none;
            }
            .section-title h2 {
                font-size: 5.1vw;
                margin-left: 3rem;
                margin-top: 3rem;
            }
            .right-navlink a {
                margin-right: 5rem;

            }
            .about-three {
                margin: 12rem 5rem;
                color: rgb(247, 247, 247);
    
            }
    
            .about-three p {
                font-size: 1.5rem;
                font: 700;
                color: rgb(240, 240, 240);
            }
    

            .about-three p {
                font-size: 1.5rem;
                margin-left: 3rem;
            }
            .right-content{
                max-width: 1rem;
                margin-left: 10rem;
            }
            .right-content>*{

                margin-right: 1rem;
                max-width: 2rem;
            }
            /* page four */
    

            /* .content-four{
                display: grid;
                grid-template-columns: 100%;
                
            } */

            .equipment {
                font-size: 1rem;
                margin-left: 7rem;
                display: flex;
                position: relative;
                gap: 1rem;
                top: -12rem;
            }
            .page h1 {
                font-size: 7rem;
                margin-top: 1rem;
                position: relative;
                top: 5rem;
                left: -2.5rem;
                display: none;
            }
            .helmet-group{
                position: relative;
                top: -rem;
                left: -5rem;
                display: flex;
                flex-direction: column;
                top: -6rem;
            }
            .helmet-types {
                font-size: 1rem;
                display: none;
            }
    
            .page h4 {
                font-size: 1rem;
                display: none;
            }
    
            .helmet-group {
                gap: 0.5rem;
                margin-top: 15rem;
                margin-left: 2.8rem;
            }
    
            .helmet {
                width: 65%;
                height: 11rem;
            }
    
            .helmet img {
                max-width: 20%;
                top: -1.5rem;
            }
    
            .helmet h2 {
                font-size: 1rem;
                margin: 2rem 0rem 2rem 0.5rem;
            }
    
            .helmet p {
                color: #ff7109;
                padding: 0.2rem 0rem 0.5rem 0.5rem;
            }
    
            .helmet h3 {
                margin-left: 0.5rem;
            }
            .helmet img{
                max-width: 58%;
                top: -5rem;
                z-index: 1;
            }
}


@media only screen and (min-width: 768px) {
    
            .navbar {
                max-width: 100%;
            }
    
            .logo {
                max-width: 90%;
            }
    
            .navlink {
                font-size: 0.7rem;
            }
    
            .name h1 {
                font-size: 8rem;
            }
    
            .helmet-image {
                margin-top: 4rem;
                max-width: 18%;
            }
    
    
    
    
            /* page two */

            .section-title h1 {
                font-size: 6rem;
                margin-top: 6rem;
                margin-left: 2rem;
            }
            .about-three p {
                font-size: 1.5rem;
                margin-left: 2rem;
            }
            .section-title p {
                margin-left: 2rem;
            }
            .section-title h2 {
                font-size: 5.1vw;
                margin-left: 2rem;
            }
            .about-three {
                margin: 12rem 5rem;
                color: rgb(247, 247, 247);
    
            }
    
            .about-three p {
                font-size: 1.5rem;
                font: 700;
                color: rgb(240, 240, 240);
            }
    


            /* page four */
    
            .equipment {
                font-size: 0.7rem;
            }
    
            .page h1 {
                font-size: 7rem;
                margin-top: 1rem;
            }
            .helmet-types {
                font-size: 1rem;
            }
    
            .page h4 {
                font-size: 1rem;
            }
    
            .helmet-group {
                gap: 0.5rem;
                margin-top: 15rem;
            }
    
            .helmet {
                width: 65%;
                height: 11rem;
            }
    
            .helmet img {
                max-width: 20%;
                top: -1.5rem;
            }
    
            .helmet h2 {
                font-size: 1rem;
                margin: 2rem 0rem 2rem 0.5rem;
            }
    
            .helmet p {
                color: #ff7109;
                padding: 0.2rem 0rem 0.5rem 0.5rem;
            }
    
            .helmet h3 {
                margin-left: 0.5rem;
            }
}







@media only screen and (min-width: 1020px) {
    
        .navbar {
            max-width: 100%;
        }
    
        .logo {

        }
    
        .navlink {
            font-size: 0.9rem;
        }
    
        .name h1{
            font-size: 10rem;
        }
    
        .helmet-image {
            max-width: 17%;
        }




        /* page two */
        
                .side-content {
                    max-height: 70%;
                }        
                .section-title h1 {
                    font-size: 7rem;
                    margin-top: 9rem;
                }
                .about-three {
                    margin: 12rem 5rem;
                    color: rgb(247, 247, 247);
        
                }
                .about-three p {
                    font-size: 1.5rem;
                    font: 700;
                    color: rgb(240, 240, 240);
                }

                /* page four */
    
        .equipment {
            font-size: 1rem;
        }

        .page h1{
            font-size: 10rem;
            margin-top: 1rem;
        }
        .page h4{
            font-size: 1.3rem;
        }
        
        .helmet-group {
            gap: 0.9rem;
            margin-top: 15rem;
        }
        .helmet {
            width: 75%;
            height: 13rem;
        }
        .helmet img {
            max-width: 25%;
            top: -2rem;
        }
        .helmet h2 {
            margin: 3rem 0rem 2rem 0.5rem;
        }
        .helmet p {
            color: #ff7109;
            padding: 0.2rem 0rem 0.5rem 0.5rem;
        }
    
        .helmet h3 {
            margin-left: 0.5rem;
        }
}
@media only screen and (max-width: 2470px) {
.helmet h2 {
        margin: 6rem 0rem 2rem 0.5rem;
    }
    
}